<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="/socket.io/socket.io.js"></script>
<h1>Chat</h1>
<div id="char-container">

</div>
<div>{{name}} 님 안녕하세요</div>
<form >
    <input id="input" placeholder="입력하세요" required>
    <button id="submit" type="submit">
        제출
    </button>
</form>

<script>
    let userName = "{{name}}";

    const charContainer = document.querySelector("#char-container");
    const submitButton = document.querySelector("#submit");
    const inputText = document.querySelector("#input");

    const socket = io.connect("http://127.0.0.1:8080/chat", {
        path: "/socket.io",
        transports: ['websocket']
    });
    console.log(socket)
    let socketId = ""
    socket.on("room-join",(msg)=>{
        console.log("room-join",msg)
        socketId = msg;
    })
    socket.on("chat",(socketId,userName,content)=>{
        const div = document.createElement("div");
        div.textContent = `${userName} : ${content}`;
        console.log(socketId,userName,content);
        charContainer.appendChild(div);
    })
    submitButton.addEventListener("click",(e)=>{
        e.preventDefault();
        socket.emit("chat",socketId,userName,inputText.value);
    })


</script>
</body>

</html>